<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <tomorrownightdelivery>
                <active>1</active>
                <title>Tomorrow Night Delivery</title>
                <name>Tomorrow Night Delivery</name>
                <sort_order>15</sort_order>
                <model>Sigma\TomorrowNightShipping\Model\Carrier\TomorrowNightShipping</model>
            </tomorrownightdelivery>
        </carriers>
    </default>
</config>
